.jumbotron img{
    width: 200px;
    border: 5px solid 666;
}
.about hr {
width: 250px;
border-top: 3px solid 666;
}
section {
    min-height: 300px;
    background-color:lightgreen;
}
.portfolio {
    background-color:salmon;
}