h1 {
    text-align:center;
}
p {
    text-align: center;
}
body {
    padding-top: 50px;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  form{
    text-align: center;
  }

