h1,h2,li,p,table{
    font-family: Impact, sans-serif;
    }
    
    table {
    border-collapse: collapse;
    width: 50%;
    }
    
    td, th {
    border: 3px solid red;
    text-align: center;
    padding: 8px;
    }
    
    tr:nth-child(even) {
    background-color:powderblue;
    }